<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ActivityHaven</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <!-- Left-aligned site title -->
        <h1 v-text="sitename"></h1>
        <!-- Right-aligned cart button -->
        <div class="cart" v-on:click="showCart" v-if="enableCartBtn">
          <button>{{cartItemCount}} Cart</button>
        </div>
        <div class="cart" disabled="disabled" v-else>
          <button>{{cartItemCount}} Cart</button>
        </div>
      </header>

      <main>
        <div>
          <label>Sort by: </label>
          <select v-model="sortBy" >
            <option value="subject">Subject</option>
            <option value="location">Location</option>
            <option value="price">Price</option>
            <option value="spaces">Spaces</option>
          </select>
    
          <label>Order: </label>
          <select v-model="sortOrder" >
            <option value="asc">Ascending</option>
            <option value="desc">Descending</option>
          </select>
        </div>
        <div v-if="showProduct" class="card-container">
          <!-- Sort Options -->
 
          <div
            class="flip-card"
            v-for="activity in sortedActivities"
            :key="activity.id"
          >
            <div class="flip-card-inner">
              <div class="flip-card-front"  >
                <figure>
                  <img v-bind:src="activity.image" class="activityimg" />
                </figure>
               <h2>{{ activity.subject }}</h2>
                <p>Location: {{ activity.location }}</p>
                <p>Price: {{ activity.price }}</p>
                <p>Spaces Available: {{ activity.spaces-cartCount(activity.id) }}</p>
                <button class="add-to-cart" v-on:click="addToCart(activity.id-1)" v-if="canAddToCart(activity)">
                  Add to Cart
                </button>
                <button disabled="disabled" v-else>Add to Cart</button>
              </div>
              <div class="flip-card-back">
               
              </div>
            </div>
          </div>
        </div>
        <div v-else>
          <div class="cart" v-on:click="showCheckout">
            <button :disabled="!canCheckout">Checkout</button>
          </div>
         
         <div v-if="showCartItems">
          <div>
        <h3>Your Products</h3>
          <div class="body">
            
            <div class="cart-product" v-for="car in cart">
              <img  v-bind:src="activities[car-1].image" alt="After School Activity" class="product-image">
              <div class="product-details">
                <h2 class="product-title"> {{activities[car-1].subject}}</h2>
                <p class="product-location">{{activities[car-1].location}}</p>
                <p class="product-price">AED {{activities[car-1].price}}</p>
              </div>
            </div>
          </div>
           
              <div>
            <h2>Your Information</h2>
        <p>
          <strong>First Name: </strong>
          <input v-model.trim="order.firstname" />
        </p>
        <p>
          <strong>Last Name: </strong>
          <input v-model="order.lastname" />
        </p>
     
      
        <p>
          <strong>Phone</strong
          ><input v-model.number="order.phone" type="number" />
        </p>


        <!-- <button v-on:click="submitForm">Place Order</button> -->
        <h2>Order Information</h2>
        <p>First Name: {{order.firstname}}</p>
        <p>Last Name: {{order.lastname}}</p>
        <p>Phone: {{order.phone}}</p>
      </div>
      </div>
       
      </div>
      <div v-else >
        <h2>Your order has been submitted!</h2>
       
      </div>
        </div>
      </div>
      </main>
    </div>
    <!-- <script type="text/javascript">
      let webstore = new Vue({
        el: "#app",
        data: {
          sitename: "Activity Haven",
          showProduct: true,
          activities: [
            {
              id: 1,
              subject: "Soccer Training",
              location: "Community Field",
              price: 100,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 2,
              subject: "Art Class",
              location: "City Art Studio",
              price: 80,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 3,
              subject: "Math Tutoring",
              location: "Online",
              price: 120,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 4,
              subject: "Music Lessons (Piano)",
              location: "Music Academy",
              price: 150,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 5,
              subject: "Science Workshop",
              location: "Local Library",
              price: 90,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 6,
              subject: "Chess Club",
              location: "Recreation Center",
              price: 50,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 7,
              subject: "Swimming Lessons",
              location: "Aquatic Center",
              price: 110,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 8,
              subject: "Drama Club",
              location: "High School Theater",
              price: 70,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 9,
              subject: "Coding for Kids",
              location: "Tech Hub",
              price: 130,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 10,
              subject: "Basketball Training",
              location: "Sports Arena",
              price: 100,
              spaces: 5,
              image: "images/i.png",
            },
          ],
          cart: [],
          showCartItems:true,
          order: {
            firstname: "",
            lastname: "",
            address: "",
            city: "",
            zip: "",
            state: "",
            method: "Home",
            sendGift: "Send as a gift",
            dontSendGift: "Do not send as a gift",
          },
        },
        computed: {
          cartItemCount: function () {
            return this.cart.length || "";
          },
        },
        methods: {
          addToCart: function (index) {
            this.cart.push(this.activities[index].id);
            // this.product.availableInventory-=1;
          },
          showCart() {
            this.showProduct = this.showProduct ? false : true;
          },
          showCheckout() {
            this.showCartItems= this.showCartItems ? false : true;
          },
        },
      });
      //inspect using vue instance variable
    </script> -->
 
    <script type="text/javascript">
      let webstore = new Vue({
        el: "#app",
        data: {
          sitename: "Activity Haven",
          showProduct: true,
          sortBy: 'subject',   // Default sort attribute
          sortOrder: 'asc', 
          enableCartBtn:false,
          activities: [
            {
              id: 1,
              subject: "Soccer Training",
              location: "Community Field",
              price: 100,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 2,
              subject: "Art Class",
              location: "City Art Studio",
              price: 80,
              spaces: 5,
              image: "images/art.jpg",
            },
            {
              id: 3,
              subject: "Math Tutoring",
              location: "Online",
              price: 120,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 4,
              subject: "Music Lessons (Piano)",
              location: "Music Academy",
              price: 150,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 5,
              subject: "Science Workshop",
              location: "Local Library",
              price: 90,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 6,
              subject: "Chess Club",
              location: "Recreation Center",
              price: 50,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 7,
              subject: "Swimming Lessons",
              location: "Aquatic Center",
              price: 110,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 8,
              subject: "Drama Club",
              location: "High School Theater",
              price: 70,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 9,
              subject: "Coding for Kids",
              location: "Tech Hub",
              price: 130,
              spaces: 5,
              image: "images/i.png",
            },
            {
              id: 10,
              subject: "Basketball Training",
              location: "Sports Arena",
              price: 100,
              spaces: 5,
              image: "images/basket.jpeg",
            },
          ],
          cart: [],
          showCartItems: true,
          order: {
            firstname: "",
            lastname: "",
            phone: "",
          },
        },
        computed: {
          cartItemCount: function () {
            return this.cart.length || "";
          },
          sortedActivities() {
          return [...this.activities].sort((a, b) => {
            console.log(a[this.sortBy]);
            
            let modifier = this.sortOrder === 'asc' ? 1 : -1;

            // Sort by price or spaces (numeric values)
            if (this.sortBy === 'price' || this.sortBy === 'spaces') {
              return (a[this.sortBy] - b[this.sortBy]) * modifier;
            }
            // Sort by subject or location (string values)
            else {
              return a[this.sortBy].localeCompare(b[this.sortBy]) * modifier;
            }
          });
        },  canCheckout() {
    return this.order.firstname && this.order.lastname && this.order.phone;
  }
        
        },
        methods: {
          addToCart: function (index) {
            this.cart.push(this.activities[index].id);
            this.enableCartBtn=true;
          },
          showCart() {
            this.showProduct = this.showProduct ? false : true;
          },
          showCheckout() {
            this.showCartItems = this.showCartItems ? false : true;
          },
          canAddToCart (activity) {
            console.log(this.cartCount(activity.id));
            
            return activity.spaces > this.cartCount(activity.id);
          },
          cartCount: function (id) {
            // cchecking if same cart item added
            let count = 0;
            for (let i = 0; i < this.cart.length; i++) {
              if (this.cart[i] === id) {
                count++;
              }
            }
            return count;
          },
        },
      });
    </script>
    
  </body>
</html>
